@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400;500&display=swap");

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

select:hover {
	cursor: pointer;
}

button:hover {
	cursor: pointer;
}

.roboto-300 {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: black;
}

.roboto-400 {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: black;
}

.roboto-500 {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 72px;
	height: 68px;
	line-height: 69px;
	color: white;
}

.roboto-500-sizenotfound {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 30px;
	height: 68px;
	line-height: 69px;
	color: white;
}

.opensans-300 {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

.opensans-400 {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 24px;
}

.dark {
	max-height: fit-content;
	background-color: #242424;
	transition: all 0.25s ease;
}

.light {
	max-height: fit-content;
	background-color: #f9f9f9ee;
	background-size: 600% 600%;
	border-top: #e1e1e1;
	transition: all 0.25s ease;
}

.settings-button {
	position: absolute;
	right: 0;
}
