.label {
	display: flex;
	align-items: center;
	cursor: pointer;
	color: #394a56;
}

.label-text {
	margin-right: 16px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 17px;
	color: #333;
}

.toggle {
	position: absolute;
	height: 1.1rem;
	width: 2.2rem;
	right: 0;
	background: #d9c689;
	border: solid 2px #d9c689;
	border-radius: 15px;
	overflow: hidden;
}

.switch-thumb {
	height: 100%;
	width: 200%;
	background: #cb4b16;
	border-radius: 25px;
	transform: translateX(-75%);
	transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

.switch:checked ~ .switch-thumb {
	background: #237893;
	transform: translatex(25%);
}
